// [THEME VARIABLES]
$main: rgb(41, 116, 255);
$bg: rgb(255, 223, 199);
$text_bg: ghostwhite;
$border: rgb(64, 72, 85);

$boxshadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
  0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
  0 16px 16px rgba(0, 0, 0, 0.12);

@mixin boxShad($color, $scale) {
  box-shadow: 0 #{$scale * 1px} #{$scale * 1px} $color,
    0 #{$scale * 2px} #{$scale * 2px} $color,
    0 #{$scale * 4px} #{$scale * 4px} $color,
    0 #{$scale * 8px} #{$scale * 8px} $color,
    0 #{$scale * 16px} #{$scale * 16px} $color;
}

// [FUNCTIONS]
@mixin assVal($properties, $value) {
  @each $property in $properties {
    #{$property}: $value;
  }
}

// [PSEUDOCLASSES]
@mixin flex($direction, $justifyContent) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
}

@mixin fullFlex() {
  @include assVal(width height, 100%);
  @include flex(column, center);
  > * {
    margin: 0 auto;
  }
  display: flex;
}

@mixin hFlex($justifyContent) {
  @include assVal(width height, 100%);
  @include flex(row, $justifyContent);
}

@mixin vFlex($justifyContent) {
  @include assVal(width height, 100%);
  @include flex(column, $justifyContent);
}

@mixin box($bCol, $bWid, $bRad, $bgColor, $width, $height) {
  width: $width;
  height: $height;
  border: $bWid solid $bCol;
  border-radius: $bRad;
  background-color: $bgColor;
  box-shadow: $boxshadow;
}

@mixin abs($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
