# backend
/backend/db_config.php

# frontend
frontend/con_manager/node_modules
frontend/con_manager/.pnp
frontend/con_manager/.pnp.js

# testing
frontend/con_manager/coverage

# production
frontend/con_manager/build

# misc
frontend/con_manager/.DS_Store
frontend/con_manager/.env.local
frontend/con_manager/.env.development.local
frontend/con_manager/.env.test.local
frontend/con_manager/.env.production.local
frontend/con_manager/backend/db_config.php
frontend/con_manager/.env

frontend/con_manager/npm-debug.log*
frontend/con_manager/yarn-debug.log*
frontend/con_manager/yarn-error.log*
