.ads {
    padding-top: 35px;
}

.ads-head {
    height: 125px;
    width: 100%;
    padding-top: 35px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: "Tahoma";
    color: whitesmoke;
    background-color: rgba(0,0,0,0.89);
}


.container {
    padding-top: 90px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 0;
   margin: 0 0 0 0;
    display: flex;
    justify-content: space-evenly;
}
