.condo {

}

.box {

    overflow: hidden;
    padding: 0 0 0 0;
    margin: 0 0 0 0;

    width: 320px;
    height: 360px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.img {
    padding: 0;
    margin: 0;
    width: 320px;
    height: 240px;
    margin: 0;
    border: 1px solid;
    border-color: rgb(151, 151, 151);
    box-shadow: rgb(161, 161, 161);
}

.content {
    background-color: rgba(0,0,0,0.89);
    height: 120px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-color: rgb(151, 151, 151);
    box-shadow: rgb(161, 161, 161);  
    border-color: black;
    border: 1px solid;
    border-radius: 6px;
}
.content p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 320px;
    color: whitesmoke;
    font-size: 20px;
    font-family: "Tahoma";
    font-weight: 500;

    border-top: 1px solid;
}

.box:hover,
.box:active{
    overflow: visible;
    border-color: black;
    width: 100%;
    height: 100%;

    .img {
    border-radius: 6px;
    width: 360px;
    height: 260px;
    }

    .content p {
        border-radius: 6px;
        width: 360px;
        height: 150px;
    }
   
}