@import "../../../../../../Styles/Utils.scss";

@mixin border {
  border: 3px solid $main;
}

@media only screen and (max-width: 600px) {
  $buttonHeight: 40px;
  .chatbox {
    grid-template-rows: auto 170px !important;
  }
  .textbox-container {
    height: 170px !important;
    .textbox-wrapper {
      height: inherit !important;
      display: flex !important;
      flex-direction: column !important;
      border: none !important;
      .text-input {
        height: 80px !important;
        width: 100% !important;
        @include border();
      }
      .textbox-button {
        margin-top: 10px !important;
        font-size: 20px;
        height: $buttonHeight !important;
        line-height: 36px !important;
        width: 100% !important;
      }
    }
  }
}

.chatbox {
  @include fullsize();
  font-family: "Roboto", sans-serif;
  background-color: $bg;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-rows: calc(100% - 100px) 100px;

  .messagebox-container {
    @include fullsize();
    max-height: 100%;
    grid-row: 1 / span 1;
    padding: 20px 0px 0px 0px !important;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    .messagebox {
      @include fullsize();
      position: relative;
      border: 30px solid $main;
      background-color: $main;
      box-sizing: border-box;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      > * {
        scroll-snap-align: start;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }

  .textbox-container {
    @include fullsize();
    width: 100%;
    grid-row: 2 / span 1;
    box-sizing: border-box;
    padding: 20px 0 0 0 !important;
    overflow-x: scroll;
    .textbox {
      @include fullsize();
      .textbox-wrapper {
        position: relative;
        @include fullsize();
        max-width: 100%;

        .text-input {
          @include border();
          @include fullsize();
          max-width: 100%;
          width: calc(100% - 113px);
          line-height: 26px;
          font-size: 14px;
          resize: none;
          background-color: ghostwhite;
        }
        .textbox-button {
          @include border();
          position: absolute;
          bottom: 2px;
          right: 0;
          width: 100px;
          height: 60px;
          line-height: 56px;
          color: white;
          background-color: $main;
        }
      }
    }
  }
}
