@import "../../../../../../Styles/Utils.scss";

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textbox-chatbox {
  width: 100%;
  height: fit-content;

  .textbox-wrapper {
    width: 100%;
    height: fit-content;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;

    .text-input {
      width: calc(100% - 90px);
      height: fit-content;
      background-color: $text_bg;
      border: 3px solid $border;
      border-radius: 7px;
      font-size: 34px;
      line-height: 30px;
      padding: 12px;
      outline: none;
      box-sizing: border-box;
      transition: 0.25s ease;
      resize: none;
      font: 400 14px "Roboto", sans-serif !important;

      &::-webkit-input-placeholder {
        font-style: italic;
      }
      &:-moz-placeholder {
        font-style: italic;
      }
      &::-moz-placeholder {
        font-style: italic;
      }
      &:-ms-input-placeholder {
        font-style: italic;
      }
    }

    .textbox-button {
      width: 80px;
      background-color: $main;
      color: $text_bg;
      border: 3px solid $border;
      border-radius: 6px;
      font-size: 24px;
      font-weight: 1000;
      line-height: 44px;
      text-align: center;
      box-sizing: border-box;
      cursor: pointer;
      user-select: none;
      box-shadow: $boxshadow;
      @include flex(column, center);

      &.unavailable {
        background-color: gray !important;
        border: 3px solid gray !important;
        box-shadow: none;
        transform: translateY(2px);
        cursor: not-allowed;
      }

      :active {
        background-color: rgb(221, 206, 172);
        box-shadow: none;
        transform: translateY(2px);
      }
    }
  }
}
