@import "../../Styles/Utils.scss";

.thread-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  // position: absolute;
  // top: 90px;
  // left: 0;

  .thread {
    width: 100%;
    max-width: 100%;
    height: fit-content;
    background-color: rgba(163, 101, 163, 0.8);
    border-radius: 8px;
    @include flex(row, space-between);
    padding: 20px;
    box-sizing: border-box;
    box-shadow: $boxshadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 20px;

    .thread-element-container {
      height: 100%;
      width: fit-content;
      @include flex(column, center);
      color: ghostwhite;
      font-size: 16px;

      .thread-element {
        overflow: hidden;

        font-size: 20px;
        color: black;
        &.name {
          width: fit-content;
          grid-column: 1 / span 1;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin-bottom: 20px;
        }

        &.admin {
          width: fit-content;
          grid-column: 4 / span 1;
          @include flex(row, center);
          margin-bottom: 20px;
        }
        &.numberusers {
          width: fit-content;
          grid-column: 2 / span 1;
          @include flex(row, space-around);
        }
      }
    }

    &:hover {
      transform: scale(1.01);
      opacity: 0.9;
    }

    &:active {
      box-shadow: none;
      transform: translateY(-2px);
    }
  }
}

.admin-container {
  @include fullFlex();
  position: relative;
  background-color: $bg;

  .admin-login-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    > div {
      margin-bottom: 30px;
    }
    .admin-login-text {
      width: 100%;
      text-align: center;
      font-size: 36px;
      color: ghostwhite;
      font-weight: bold;
    }

    .username-container,
    .password-container {
      margin: 10px 0 10px 0;
      width: 100%;
      height: 50px;
    }

    .button-container {
      opacity: 0.3;
      margin-top: 0px;

      > .button {
        cursor: not-allowed !important;
        color: rgb(179, 179, 179);
        &:hover {
          transform: none;
        }
      }
      &.show {
        opacity: 1;
        > .button {
          cursor: pointer !important;
        }
      }
    }

    .invalidLogin {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      @include flex(column, center);
      background-color: rgba(0, 0, 0, 0.9);

      color: red;
      font-size: 30px;
      text-align: center;
      cursor: pointer;

      animation-name: invalidLogin;
      animation-duration: 1.2s;
      animation-timing-function: ease-out;
      @keyframes invalidLogin {
        0% {
          opacity: 1;
        }
        75% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }

  .admin-page {
    width: 100%;
    height: 100%;
    background-color: rgb(150, 78, 150);

    .admin-page-container {
      width: 100%;
      height: calc(100% - 80px);
      position: absolute;
      top: 80px;
      left: 0;
      background-color: beige;

      display: flex;

      .admin-associations {
        width: 50%;
        height: calc(100% - 60px);
        padding: 20px;

        &.menu {
          overflow: scroll;
        }

        &.selected {
          padding: 20px;
          height: calc(100% - 40px);

          .input-modal {
            overflow: hidden;
            border-radius: 8px;
            .edit-view-window {
              width: 100%;
              padding: 0;
              .current-selection {
                width: calc(100% - 120px);
                height: calc(100% - 120px);
                border-radius: 8px;
                background-color: black;
                padding: 60px;
                display: flex;
                flex-direction: column;
                overflow: scroll;
                .edit-info-field {
                  height: fit-content;
                  width: calc(100% - 20px);
                  margin-bottom: 30px;
                  .field-title {
                    height: 20px;
                    font-size: 18px;
                    line-height: 20px;
                    font-style: italic;
                    color: ghostwhite;
                    margin-bottom: 4px;
                    font-style: italic;
                    text-transform: capitalize;
                  }
                  .field-display {
                    max-width: 100%;
                    width: 100%;
                    font-size: 20px;
                    height: fit-content;
                    color: ghostwhite;
                    overflow-wrap: break-word;
                    word-break: break-all;
                    img {
                      width: 100%;
                      height: auto;
                    }

                    .textbox {
                      width: 100% !important;
                      // height: 46px !important;
                      input,
                      textarea {
                        width: 100% !important;
                        font-size: 20px;
                        // min-height: 50px;
                        // height: fit-content !important;
                        line-height: 20px !important;
                        &::placeholder {
                          text-transform: capitalize;
                        }
                      }
                    }
                  }
                }
                .delete-asso-container {
                  position: absolute;
                  bottom: 0;
                  right: -20px;
                  width: 80px;
                  height: 80px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  cursor: pointer;

                  &:hover {
                    opacity: 0.7;
                  }
                  >  * {
                    margin: 0 auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
