@import "../../Styles/Utils.scss";

.textbox {
  @include assVal(width height, 100%);
  position: relative;

  &.active {
    .text-input {
      border: 4px $confirm_green solid;
      transition: 0.2s ease-out;
    }
    .cancel-icon-container {
      opacity: 1;
      pointer-events: all;
      transition: 0.3s ease-out;
    }
  }

  .cancel-icon-container {
    position: absolute;
    width: 50px;
    height: 100%;
    top: 4px;
    right: 0;
    @include flex(column, center);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-out;
    cursor: pointer;

    &:hover {
      + .text-input {
        border: 4px $cancel_red solid;
        transition: 0.2s ease-out;
      }
    }

    > svg {
      width: 30px;
      height: 30px;
      margin: 0 auto;
      fill: $cancel_red;
      color: $cancel_red;
    }
  }

  .text-input {
    @include assVal(width height line-height, 100%);
    background-color: $text_bg;
    border: 3px solid $border;
    border-radius: 7px;
    font-size: 34px;
    padding: 0 12px 0 12px;
    outline: none;
    box-sizing: border-box;
    transition: 0.25s ease;

    &::-webkit-input-placeholder {
      font-style: italic;
    }
    &:-moz-placeholder {
      font-style: italic;
    }
    &::-moz-placeholder {
      font-style: italic;
    }
    &:-ms-input-placeholder {
      font-style: italic;
    }
  }
}
