@import "../../Styles/Utils.scss";

.email-page {
  width: 100%;
  height: calc(100% - 80px);
  // position: relative;

  .header > .actions-container {
    // width: 100%;
    // justify-content: space-between;
  }

  .input-modal {
    .edit-view-window {
      .content-container {
        overflow: hidden;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        .email-display {
          width: 100%;
          height: 100%;
          .edit-info-field {
            height: fit-content;
            width: calc(100% - 20px);
            margin-bottom: 30px;
            .field-title {
              height: 20px;
              font-size: 18px;
              line-height: 20px;
              font-style: italic;
              color: rgba(109, 109, 255, 1);
              margin-bottom: 4px;
              font-style: italic;
              text-transform: capitalize;
            }
            .field-display {
              max-width: 100%;
              width: 100%;
              font-size: 20px;
              height: fit-content;
              color: ghostwhite;
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }

        .email-controls {
          width: 100%;
          height: 90px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;

          .left-container {
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .rbt {
              width: 100%;
              height: 40px;
              background-color: $text_bg;
              border: 3px solid transparent;
              border-radius: 7px;
              font-size: 33px;
              // padding: 10px;
              outline: black;
              box-sizing: border-box;
              // overflow: hidden;

              // padding-right: 40px;
              z-index: 1000;

              &:focus-within {
                border: 3px solid rgb(109, 109, 255);
                // border-bottom: 3px solid transparent;
              }

              .rbt-menu {
                width: calc(100% + 6px) !important;
                height: fit-content;
                max-height: 200px;
                display: flex !important;
                flex-direction: column;
                overflow: scroll;
                background-color: ghostwhite;
                border-radius: 7px;
                left: -3px !important;
                box-sizing: border-box;

                top: 10px !important;

                border: 3px solid rgb(109, 109, 255);
                // border-top: 3px solid transparent;

                .dropdown-item {
                  font-size: 20px !important;
                  width: 100%;
                  height: 36px;
                  box-sizing: border-box;
                  padding: 10px;

                  line-height: 20px;

                  color: black;
                  font-weight: 300 !important;
                  text-decoration: none;
                  font-style: normal !important;

                  &:hover,
                  &:active,
                  &:focus,
                  &:focus-within,
                  &:target {
                    background-color: rgba(109, 109, 255, 0.5);
                  }

                  mark {
                    font-weight: 300 !important;
                    text-decoration: underline;
                  }
                  font-style: normal;
                }
              }

              input {
                background-color: ghostwhite;
                border: none;
                outline: none;
                font-size: 20px;
                font-family: Roboto, sans-serif !important;
                font-weight: 300;

                &::-webkit-input-placeholder {
                  font-style: italic;
                }
                &:-moz-placeholder {
                  font-style: italic;
                }
                &::-moz-placeholder {
                  font-style: italic;
                }
                &:-ms-input-placeholder {
                  font-style: italic;
                }
              }
            }
            .textbox {
              width: 100% !important;
              input {
                width: 100% !important;
                font-size: 20px;

                &::placeholder {
                  text-transform: capitalize;
                }
              }
            }
          }

          .right-container {
            border-radius: 4px;
            width: fit-content;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            > * {
              margin: 0 auto;
            }
          }
        }

        .quill {
          overflow: hidden;
          border-radius: 8px;
          background-color: ghostwhite;

          .ql-toolbar {
            // height: 30px;
          }
          .ql-container {
            height: calc(100% - 80px);
          }
        }
      }
    }
  }

  .email-view {
    @include fullsize();
  }

  .email-menu {
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-rows: 50px;
    grid-row-gap: 10px;
    margin-top: 80px;

    .email-thumbnail {
      width: 100%;
      max-width: 100%;
      height: 50px;
      background-color: rgba(0, 0, 0, 0.82);
      border-radius: 8px;
      @include flex(row, space-between);
      padding: 0 20px 0 20px;
      display: grid;
      box-sizing: border-box;
      box-shadow: $boxshadow;
      grid-template-rows: 100%;
      grid-column-gap: 20px;
      cursor: pointer;

      .email-element-container {
        height: 100%;
        width: 100%;
        @include flex(column, center);

        .email-element {
          overflow: hidden;

          font-size: 20px;
          color: whitesmoke;
          &.name {
            width: 100%;
            grid-row: 1 / span 1;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          &.numbermsg,
          &.modified-on,
          &.created-by {
            width: 100%;
            @include flex(row, space-between);
            grid-row: 1 / span 1;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          &.name {
            grid-column: 1 / span 1;
          }
          &.modified-on {
            grid-column: 3 / span 1;
          }
          &.created-by {
            grid-column: 4 / span 1;
            @include flex(row, flex-end);
          }
          &.numbermsg {
            grid-column: 2 / span 1;
            @include flex(row, flex-start);
          }
        }
      }

      &:hover {
        transform: scale(1.001);
        opacity: 0.9;
      }

      &:active {
        box-shadow: none;
        transform: translateY(-2px);
      }
    }
  }
}
