@import "../../Styles/Utils.scss";

.email-page {
  width: 100%;
  height: calc(100% - 80px);

  .header {
    width: 100% !important;
    .actions-container {
      width: 100%;
      justify-content: space-between;
    }
  }

  .input-modal {
    .edit-view-window {
      .content-container {
        overflow: hidden;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        .email-display {
          width: 100%;
          height: 100%;
          .edit-info-field {
            height: fit-content;
            width: calc(100% - 20px);
            margin-bottom: 30px;
            .field-title {
              height: 20px;
              font-size: 18px;
              line-height: 20px;
              font-style: italic;
              color: rgba(109, 109, 255, 1);
              margin-bottom: 4px;
              font-style: italic;
              text-transform: capitalize;
            }
            .field-display {
              max-width: 100%;
              width: 100%;
              font-size: 20px;
              height: fit-content;
              color: ghostwhite;
              img {
                width: 100%;
                height: auto;
              }
            }
          }
        }

        .email-controls {
          width: 100%;
          height: 90px;
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;

          .left-container {
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .textbox {
              width: 100% !important;
              input {
                width: 100% !important;
                font-size: 20px;

                &::placeholder {
                  text-transform: capitalize;
                }
              }
            }
          }

          .right-container {
            border-radius: 4px;
            width: fit-content;
            height: 90px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            > * {
              margin: 0 auto;
            }
          }
        }

        .quill {
          overflow: hidden;
          border-radius: 8px;
          background-color: ghostwhite;

          .ql-container {
            height: calc(100% - 80px);
          }
        }
      }
    }
  }

  .email-view {
    @include fullsize();
  }

  .email-menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-auto-rows: 50px;
    grid-row-gap: 10px;
    margin-top: 80px;

    .no-emails {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: rgb(231, 163, 118);
      font-size: 40px;
      font-weight: bold;
      text-align: center;
    }

    .email-thumbnail {
      width: 100%;
      max-width: 100%;
      height: 80px;
      background-color: rgba(0, 0, 0, 0.82);
      border-radius: 8px;
      @include flex(row, space-between);
      padding: 0 20px 0 20px;
      box-sizing: border-box;
      box-shadow: $boxshadow;

      cursor: pointer;
      display: flex;
      justify-content: space-between;

      margin-bottom: 20px;

      .email-element-container {
        width: fit-content;
        @include flex(column, center);

        color: rgb(255, 169, 112);
        text-transform: italic;

        &.name {
          width: 500px;
          text-overflow: ellipsis;
          word-break: nowrap;
        }
        &.date {
          width: 200px;
        }

        &.from {
          width: 300px;

          svg {
            width: 12px;
            height: 12px;
            margin-right: 6px;
            margin-bottom: 2px;
          }
        }
        &.read {
          svg {
            width: 32px;
            height: 32px;
          }
        }

        .email-element {
          overflow: hidden;
          font-size: 20px;
          color: whitesmoke;
          text-transform: normal;
        }
      }

      &:hover {
        transform: scale(1.001);
        opacity: 0.9;
      }

      &:active {
        box-shadow: none;
        transform: translateY(-2px);
      }
    }
  }
}
