.polls {
  .edit-view-window {
    padding: "40px";
  }
  padding-top: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  // overflow: hidden;

  .header {
    position: absolute;
  }

  .polls-window {
    width: 100%;
    // position: absolute;
    height: calc(100% - 80px);
    margin-top: 60px;
    left: 0;
    display: flex;
    box-sizing: border-box;

    &.both {
      .polls-container {
        width: 50%;

        &.closed {
          padding-right: 10px;
        }
        &.open {
          padding-left: 10px;
        }
      }
    }
    &.open {
      .polls-container {
        &.closed {
          width: 0;
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    &.closed {
      .polls-container {
        &.open {
          width: 0;
          opacity: 0;
          visibility: hidden;
        }
      }
    }

    .polls-container {
      // box-sizing: border-box;
      transition: 0.25s;
      width: 100%;
      // padding: 20px;
      overflow: scroll !important;

      .polls-wrapper {
        height: fit-content;
      }

      .no-polls-shown {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 10px;
        color: white;
        text-align: center;
        user-select: f;

        &.closed {
          background-color: rgb(86, 116, 224);
        }
        &.open {
          background-color: rgb(109, 75, 148);
        }
      }
    }
  }
}
