@import "../../Styles/Utils.scss";

.login-container {
  @include fullFlex();
  position: relative;
  background-color: $bg;

  .ads-wrapper {
    position: absolute;
    height: calc(100% - 180px);
    width: calc(100% - 100px);
    top: 120px;
    left: 50px;
  }

  .invalidLogin {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include flex(column, center);
    background-color: rgba(0, 0, 0, 0.9);

    color: red;
    font-size: 30px;
    text-align: center;
    cursor: pointer;

    animation-name: invalidLogin;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    @keyframes invalidLogin {
      0% {
        opacity: 1;
      }
      75% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

  .login-logo {
    $h: 100px;
    width: 100vw;
    height: $h;

    @include abs($top: -6px, $left: 0);
    line-height: $h;
    font-size: 46px;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    color: $main;
    text-shadow: $boxshadow;
    pointer-events: none;
  }

  .login-button {
    width: 100px;
  }
  .admin-button {
    width: 120px;
  }

  .login-full-width-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

    .login {
      max-width: calc(100vw - 40px);
      width: 300px;
      height: 260px;
      position: absolute;
      padding: 20px;
      top: 84px;
      right: 18px;
      border-radius: 8px;
      background-color: ghostwhite;
      box-shadow: $boxshadow;
      border: 2px black solid;
      @include flex(column, center);
      pointer-events: all;
      animation: 0.2s logindowndesktop ease;
      overflow: hidden;

      @media only screen and (max-width: 600px) {
        width: calc(100vw - 80px);
        height: calc((100vh - 154px));
        animation: 0.2s logindownmobile ease;
      }

      @keyframes logindowndesktop {
        from {
          height: 0px;
        }
        to {
          height: 260px;
        }
      }
      @keyframes logindownmobile {
        from {
          height: 0px;
        }
        to {
          height: calc((100vh - 154px));
        }
      }

      .button-container {
        opacity: 0.3;
        margin-top: 20px;
        > .button {
          cursor: not-allowed !important;
          color: rgb(179, 179, 179);
          &:hover {
            transform: none;
          }
        }
        &.show {
          opacity: 1;
          > .button {
            cursor: pointer !important;
            color: white;
            &:hover {
              transform: none;
            }
          }
        }
      }

      .login-inputs {
        max-width: 100%;
        @include box(
          $bCol: $border,
          $bWid: 3px,
          $bRad: 10px,
          $bgColor: $main,
          $width: 100%,
          $height: 174px
        );
        padding: 20px 20px 30px 20px;
        box-sizing: border-box;
        // @include flex(column, space-between);
        .text-input {
          font-size: 20px !important;
        }

        .username-container,
        .password-container {
          margin: 10px 0 10px 0;

          width: 100%;
          height: 50px;
        }
      }
    }
  }
}
