@import "../../Styles/Utils.scss";

.button {
  $h: 50px;
  $fontSize: 24px;

  @include box(
    $bCol: $main,
    $bWid: 3px,
    $bRad: 10px,
    $bgColor: $border,
    $width: 100%,
    $height: $h
  );
  min-width: $h;
  user-select: none;
  font-size: $fontSize;
  line-height: $h;
  font-weight: 500;
  text-align: center;
  color: $text_bg;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  > * {
    margin: 0 auto;
  }

  &.dynamic {
    width: fit-content;
    transition: 0.25s ease-in-out;
  }
  &:not(.dropdown) {
    &:hover {
      transform: scale(1.001);
      opacity: 0.8;
    }
    &:active {
      box-shadow: none;
      transform: translateY(0px);
    }
  }

  .dropdown-container {
    width: inherit;
    height: fit-content;
    position: absolute;
    background-color: $main;
    border-radius: 8px;
    z-index: 1000;
    top: 66px;
    left: 0;

    .dropdown-element {
      height: 50px;
      font-size: inherit;
      line-height: inherit;
      font-weight: 300;
      text-align: inherit;
      color: $text_bg;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .icon-container {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      opacity: 0.5;
    }

    svg {
      margin: 0 auto;
      color: black;
      transform: scale(1.4);
    }

    &.show {
      svg {
        transform: scale(-1.4);
      }
    }
  }
}
