@import "../../Styles/Utils.scss";

$gridgap: 20px;

.condos {
  .edit-view-window {
    padding: "40px";
  }
  padding-top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .header {
    z-index: 1001;
  }

  &.login {
    .ad-menu-container {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .ad-menu-container {
    width: calc(100% - 80px);
    height: calc(100% - 120px);
    position: absolute;
    top: 80px;
    left: 40px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

    display: grid;
    grid-gap: 18px;
    grid-template-rows: repeat(2, calc(50% - 9px));
    grid-template-columns: repeat(4, calc(25% - 14px));

    @media (max-height: 650px) {
      grid-template-rows: 100%;
    }

    @media (max-width: 700px) {
      grid-template-columns: 100%;
    }
    @media screen and (max-width: 1000px) {
      grid-template-rows: repeat(2, calc(50% - 9px));
    }

    .ad-container {
      margin: 0;
      width: 100%;
      height: 100%;
      scroll-snap-align: none;
    }
  }

  .ad-detail-container {
    height: inherit;

    border-radius: 8px;
    overflow: hidden;
  }
}
