header {
  background-color: rgba(0, 0, 0, 0.89);
  padding: 10px;
  text-align: center;
  font-size: 55px;
  color: whitesmoke;
  font-weight: 500;
  font-family: "Tahoma";
}

section {
  display: -webkit-flex;
  display: flex;
}

nav {
  padding-right: 25px;
  padding-bottom: 25px;
  background: #ccc;

}

description {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: whitesmoke;
  padding: 10px;
}

description h1 {
  font-size: 30px;
  border-bottom: black solid 2px;
  font-family: "Tahoma";
  font-weight: 500;
}

description p {
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Tahoma";
  font-weight: 500;
}

@media (max-width: 500px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.img-detail {
  width: 820px;
  height: 450px;
}
