@import "../../Styles/Utils.scss";

.page-container {
  @include fullFlex();
  background-color: $main;
  font-size: 200px;
  animation: mymove 0.006s infinite;
}

@keyframes mymove {
  0% {
    background-color: $main;
  }
  25% {
    background-color: purple;
  }
  50% {
    background-color: red;
  }
  75% {
    background-color: orange;
  }
  100% {
    background-color: yellow;
  }
}
