@import "../../Styles/Utils.scss";

.edit-view {
  @include assVal(width height, 100%);
  @include flex(column, center);
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;

  .edit-view-window {
    @media only screen and (max-width: 600px) {
      width: 100vw;
      height: 100vh;
      border-radius: 0;
      grid-auto-rows: 60px 240px 100px 100px 100px 100px 100px 100px 100px;
      grid-template-columns: calc(100% - 5px);
      padding: 30px 20px 30px 20px;

      .picture-container {
        padding-bottom: 20px !important;
      }
      position: static;
    }
    width: 100%;
    height: calc(100vh - 100px);
    box-sizing: border-box;
    margin: 0 auto;
    background-color: $main;
    padding: 80px 80px 80px 80px;
    box-shadow: $boxshadow;
    position: relative;
    border-radius: 10px;
    display: grid;
    grid-auto-rows: 100%;
    grid-template-columns: minmax(400px, 60%) minmax(300px, 40%);
    column-gap: 40px;
    pointer-events: all;
    overflow: hidden;

    .picture-container {
      width: 100%;
      height: 100%;
      pointer-events: all;
      grid-row: 1 / span 1;
      grid-column: 1 / span 1;

      .picture {
        @include assVal(width height, 100%);

        @include flex(column, center);
        img {
          width: 100%;
          max-width: 100%;

          height: auto;
          margin: 0 auto;
          border: 2px white solid;
        }
      }
    }
    .edit-info-container {
      width: 100%;
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;

      margin: auto 0;

      display: flex;
      flex-direction: column;
      // justify-content: space-around;
      overflow: scroll;

      height: 100%;

      &.display {
        .edit-info-field {
          .textbox {
            input,
            textarea {
              pointer-events: none;
              background-color: ghostwhite;
            }
          }
        }
      }

      .edit-info-field {
        height: fit-content;
        width: calc(100% - 20px);
        .textbox {
          // margin-bottom: 10px;
          height: fit-content;
          input {
            height: 50px;
            font-size: 20px !important;
          }
          textarea {
            font-size: 20px !important;
            height: 100px;
          }
          margin-bottom: 10px;
        }
        .title {
          height: 20px;
          font-size: 18px;
          line-height: 20px;
          font-style: italic;
          color: ghostwhite;
          margin-bottom: 4px;
        }
      }
    }

    .edit-icon-container {
      $size: 70px;
      @include assVal(width height, $size);
      position: absolute;
      top: 8px;
      right: 74px;
      border-radius: 4px;
      pointer-events: all;
      cursor: pointer;
      z-index: 3;

      .edit-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .edit-icon-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          @include flex(column, center);
          transition: 0.3s ease-out;

          svg {
            margin: 0 auto;
            @include assVal(width height, 44px);
            fill: white;
            color: white;
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    .delete-icon-container {
      $size: 70px;
      @include assVal(width height, $size);
      position: absolute;
      bottom: 8px;
      right: 10px;
      border-radius: 4px;
      pointer-events: all;
      cursor: pointer;
      z-index: 3;

      .delete-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .delete-icon-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          @include flex(column, center);
          transition: 0.3s ease-out;

          svg {
            margin: 0 auto;
            @include assVal(width height, 44px);
            fill: white;
            color: white;
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    .action-icon-container {
      $size: 70px;
      @include assVal(width height, $size);
      position: absolute;
      @include assVal(top right, 10px);
      border-radius: 4px;
      pointer-events: all;
      cursor: pointer;
      z-index: 3;

      .action-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &.close {
          transition: 0.3s ease-out;

          .action-icon-wrapper.confirm {
            display: none;
          }
          .action-icon-wrapper.loading {
            display: none;
          }
        }
        &.confirm {
          .action-icon-wrapper {
            &.close {
              svg {
                fill: $cancel_red;
                color: $cancel_red;
              }
            }
            &.confirm {
              animation: dropdown 0.1s ease-out forwards;

              svg {
                fill: $confirm_green;
                color: $confirm_green;
              }

              @keyframes dropdown {
                from {
                  transform: translateY(0px);
                }
                to {
                  transform: translateY(54px);
                }
              }
            }
            &.loading {
              display: none;
            }
          }
        }
        &.loading {
          .action-icon-wrapper {
            &.confirm {
              opacity: 0 !important;
            }
            &.loading {
              opacity: 1;
              transform: translateY(54px);
              svg {
                fill: $confirm_green;
                color: $confirm_green;
                animation: rotate 1s ease-out infinite;

                @keyframes rotate {
                  from {
                    transform: rotate(0deg);
                  }
                  to {
                    transform: rotate(360deg);
                  }
                }
              }
            }
          }
        }
        .action-icon-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          @include flex(column, center);
          transition: 0.3s ease-out;

          svg {
            margin: 0 auto;
            @include assVal(width height, 40px);
            fill: white;
            color: white;
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
