.rbt {
  width: 100%;
  height: 40px;
  background-color: ghostwhite;
  border: 3px solid transparent;
  border-radius: 7px;
  font-size: 33px;
  // padding: 10px;
  outline: black;
  box-sizing: border-box;
  // overflow: hidden;

  // padding-right: 40px;
  z-index: 1000;

  &:focus-within {
    border: 3px solid rgb(109, 109, 255);
    // border-bottom: 3px solid transparent;
  }

  .rbt-menu {
    width: calc(100% + 6px) !important;
    height: fit-content;
    max-height: 200px;
    display: flex !important;
    flex-direction: column;
    overflow: scroll;
    background-color: ghostwhite;
    border-radius: 7px;
    left: -3px !important;
    box-sizing: border-box;
    z-index: 3000;

    top: 10px !important;

    border: 3px solid rgb(109, 109, 255);
    // border-top: 3px solid transparent;

    .dropdown-item {
      font-size: 20px !important;
      width: 100%;
      height: 36px;
      box-sizing: border-box;
      padding: 10px;

      line-height: 20px;

      color: black;
      font-weight: 300 !important;
      text-decoration: none;
      font-style: normal !important;

      &:hover,
      &:active,
      &:focus,
      &:focus-within,
      &:target {
        background-color: rgba(109, 109, 255, 0.5);
      }

      mark {
        font-weight: 300 !important;
        text-decoration: underline;
      }
      font-style: normal;
    }
  }

  input {
    background-color: ghostwhite;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: Roboto, sans-serif !important;
    font-weight: 300;

    &::-webkit-input-placeholder {
      font-style: italic;
    }
    &:-moz-placeholder {
      font-style: italic;
    }
    &::-moz-placeholder {
      font-style: italic;
    }
    &:-ms-input-placeholder {
      font-style: italic;
    }
  }
}
